.pdf-signer {
  display: flex;
  justify-content: flex-start;

  .inputs-container {
    margin-right: 100px;
  }

  .buttons-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .pdf-viewer {
    position: relative;
    height: 90vh;
    width: 80vh;
    background-color: #ffffff;

    .pdf-container {
      border: 1px solid rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;

      .worker-container {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        height: 90vh;
        position: relative;

        .current-page-label {
          margin-left: 4px;
          align-items: center;
          background-color: #eeeeee;
          display: flex;
          justify-content: center;
        }
      }

      .signature-rectangle {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 50px;
        left: 43px;
        width: 116px;
        height: 42px;
        background-color: #def0f6;
        border: 1px dashed #5693ea;
        border-radius: 5px;
      }
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;

    .pdf-viewer {
      width: 90%;
      height: auto;
    }

    .inputs-container {
      margin-right: 0;
      margin-bottom: 20px;
    }

    .buttons-container {
      margin-top: 20px;
      flex-direction: row;
      gap: 10px;
    }
  }

  @media (max-width: 768px) {
    .pdf-viewer {
      width: 100%;
      height: auto;
    }

    .signature-rectangle {
      top: 30px;
      left: 50px;
      width: 90px;
      height: 36px;
    }
  }

  @media (max-width: 480px) {
    .signature-rectangle {
      top: 20px;
      left: 20px;
      width: 80px;
      height: 30px;
    }

    .buttons-container {
      flex-direction: column;
      gap: 20px;
    }
  }
}
