.recovery-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;

  .button-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 20px;
  }
}