.button {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 15px;

  &--small {
    width: auto;
    font-size: 10px;
    padding: 5px 10px;
  }

  &.primary {
    background-color: #007bff;

    &:hover {
      background-color: #0056b3;
    }

    &--small {
      background-color: #007bff;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  &.cancel {
    background-color: #f44336;

    &:hover {
      background-color: #d32f2f;
    }

    &--small {
      background-color: #f44336;

      &:hover {
        background-color: #d32f2f;
      }
    }
  }

  &.file {
    background-color: #4CAF50;

    &:hover {
      background-color: #45a049;
    }
  }

  &.toggle {
    &.active {
      background-color: #4caf50;

      &:hover {
        background-color: #388e3c;
      }
    }

    &.inactive {
      background-color: #f44336;

      &:hover {
        background-color: #d32f2f;
      }
    }
  }
}

.button.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}