.button {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  &--small {
    width: auto;
    font-size: 12px;
    padding: 5px 10px;
  }

  &.primary {
    background-color: #007bff;

    &:hover {
      background-color: #0056b3;
    }

    &:active {
      background-color: #004085;
    }
  }

  &.cancel {
    background-color: #f44336;

    &:hover {
      background-color: #d32f2f;
    }

    &:active {
      background-color: #9a0007;
    }
  }

  &.file {
    background-color: #4caf50;

    &:hover {
      background-color: #45a049;
    }

    &:active {
      background-color: #2e7d32;
    }
  }

  &.toggle {
    &.active {
      background-color: #4caf50;

      &:hover {
        background-color: #388e3c;
      }

      &:active {
        background-color: #2e7d32;
      }
    }

    &.inactive {
      background-color: #f44336;

      &:hover {
        background-color: #d32f2f;
      }

      &:active {
        background-color: #9a0007;
      }
    }
  }

  &.return {
    background-color: #6c757d;

    &:hover {
      background-color: #5a6268;
    }

    &:active {
      background-color: #343a40;
    }

    color: #f8f9fa;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;

    &:hover {
      transform: none;
    }
  }
}
