.document-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  h2 {
    color: #333;
    font-size: 24px;
  }

  .pdf-signer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table-container {
    width: 80%;
    margin: 0 auto;

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        color: #fff;
        tr {
          background-color: #1B2845;
        }
      }

      th, td {
        padding: 10px;
        border: 1px solid #ddd;
      }

      tbody {
        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
      }
    }
  }

  .pagination-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .results-text {
      color: #000000;
      font-size: 16px;
    }

    .pagination-buttons {
      button {
        background-color: #1B2845;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #555;
        }

        &:disabled {
          background-color: #999;
          cursor: not-allowed;
        }
      }
    }
  }
}
