@import '../../../App.scss';

.document-container {
  width: 1000px;
  padding: $padding-large;
  box-sizing: border-box;

  h2 {
    color: $font-color;
    font-size: $font-size-large;
  }

  .pdf-signer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table-container {
    width: 100%;
    margin: 0 auto;

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        color: $table-header-color;
        tr {
          background-color: $primary-color;
        }
      }

      th, td {
        padding: $padding-base;
      }

      tbody {
        tr:nth-child(even) {
          background-color: $table-row-even-color;
        }
      }

      td {
        &:last-child {
          width: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          & > button {
            margin: 0 auto;
          }
        }
      }
    }
  }

  .pagination-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .results-text {
      color: $font-color;
      font-size: $font-size-base;
    }

    .pagination-buttons {
      button {
        background-color: $button-bg-color;
        color: $button-color;
        padding: $padding-base $padding-large;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: $button-hover-bg-color;
        }

        &:disabled {
          background-color: $button-disabled-bg-color;
          cursor: not-allowed;
        }
      }
    }
  }
}

.confirm-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.confirm-modal-actions button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



